<div class="row-fluid">
    <div class="span6">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Thông tin menu</h5>
            </div>
            <div class="widget-content nopadding">
                <form [formGroup]="addMenuForm" (ngSubmit)="saveNewMenu(mForm)" #mForm="ngForm" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Tên<em>*</em> :</label>
                        <div class="controls">
                            <input type="text" class="span11" [(ngModel)]="addMenu.ten" formControlName="ten">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Hình : </label>
                        <div class="controls">
                            <div class="uploader" id="uniform-undefined"><input type="file" size="19" style="opacity: 0;"><span class="filename">Không có tệp nào được chọn</span><span class="action">Chọn tệp</span></div>
                        </div>
                    </div>
                    <div class="controls-group">
                        <label class="control-label">Giá<em>*</em> : </label>
                        <div class="controls">
                            <div class="input-append">
                                <input type="text" placeholder="5.000" class="span11" formControlName="gia">
                                <span class="add-on">VND</span> </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Ghi chú: </label>
                        <div class="controls">
                            <textarea class="span11"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Lưu</button>
                        <button type="button" class="btn btn-danger">Làm Sạch</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="span12" style="margin-left:0%">
        <div class="widget-box">
            <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Danh sách menu</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hình</th>
                            <th>Tên</th>
                            <th>Giá</th>
                            <th>Ghi Chú</th>
                            <th>Hành Động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of menu;  let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{item.hinh}}</td>
                            <td>{{item.ten}}</td>
                            <td>{{item.gia}}</td>
                            <td>{{item.ghichu}}</td>
                            <td>
                                <button class="btn btn-primary">Sửa</button>
                                <button class="btn btn-danger">Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>